<%# views/index.ejs %>
	<% extend('../../layouts/home') %>
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>

			<div class="row">
				<div class="col-xl-6 col-xxl-5 d-flex">
					<div class="w-100">
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">Total de Notas</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="truck"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3"><%= countNotes %></h1>
										<div class="mb-0">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
											</span>
											<span class="text-muted">Since last week</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">Visitors</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="users"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3">14.212</h1>
										<div class="mb-0">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25%
											</span>
											<span class="text-muted">Since last week</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">Earnings</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="dollar-sign"></i>
												</div>
											</div>
										</div>
										<h3 class="mt-1 mb-3"><%= totalAmount %></h3>
										<div class="mb-0">
											<span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65%
											</span>
											<span class="text-muted">Since last week</span>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col mt-0">
												<h5 class="card-title">Orders</h5>
											</div>

											<div class="col-auto">
												<div class="stat text-primary">
													<i class="align-middle" data-feather="shopping-cart"></i>
												</div>
											</div>
										</div>
										<h1 class="mt-1 mb-3">64</h1>
										<div class="mb-0">
											<span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25%
											</span>
											<span class="text-muted">Since last week</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6 col-xxl-7">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Gráfico de valores</h5>
						</div>
						<div class="card-body py-3">
							<div class="chart chart-sm">
								<canvas id="chartjs-dashboard-line"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12 col-lg-8 col-xxl-9 d-flex">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">Todas notas </h5>
						</div>
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>ID</th>
									<th class="d-none d-xl-table-cell">Código</th>
									<th class="d-none d-xl-table-cell">Descrição</th>
									<th class="d-none d-xl-table-cell">Valor unitário</th>
									<th class="d-none d-xl-table-cell">Valor ISS</th>
									<th class="d-none d-xl-table-cell">Data</th>
								</tr>
							</thead>
							<tbody>
								<% finances.forEach(function(finance){ 
									const options = { style: 'currency', currency: 'BRL' };
									const numberFormat = new Intl.NumberFormat('pt-BR', options);
									const dateFormat = new Intl.DateTimeFormat("pt-BR");
									%>
									<tr>
										<td><%= finance.Nfse.InfNfse.Numero%></td>
										<td><%= finance.Nfse.InfNfse.CodigoVerificacao%></td>
										<td>
											<% if(finance.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Servico.Discriminacao[0].Descricao) { %>
												<%= finance.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Servico.Discriminacao[0].Descricao %>
											<% } else if(finance.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Servico.Discriminacao) { %>
												<%= finance.Nfse.InfNfse.DeclaracaoPrestacaoServico.InfDeclaracaoPrestacaoServico.Servico.Discriminacao %>
											<% } else { %>
												Não encontrado
											<% } %>
										</td>
										<td>
											<% if(finance.Nfse.InfNfse.ValoresNfse.ValorLiquidoNfse) { %>
												<%= numberFormat.format(finance.Nfse.InfNfse.ValoresNfse.ValorLiquidoNfse) %>
											<% } else { %>
												Não encontrado
											<% } %>
										</td>
										<td>
											<% if(finance.Nfse.InfNfse.ValoresNfse.ValorIss) { %>
												<%= numberFormat.format(finance.Nfse.InfNfse.ValoresNfse.ValorIss) %>
											<% } else { %>
												Não há ISS
											<% } %>
										</td>
										<td><%= dateFormat.format(new Date(finance.Nfse.InfNfse.DataEmissao))%></td>
									</tr>
								  <% }); %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Browser Usage</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="py-3">
									<div class="chart chart-xs">
										<canvas id="chartjs-dashboard-pie"></canvas>
									</div>
								</div>

								<table class="table mb-0">
									<tbody>
										<tr>
											<td>Chrome</td>
											<td class="text-end">4306</td>
										</tr>
										<tr>
											<td>Firefox</td>
											<td class="text-end">3801</td>
										</tr>
										<tr>
											<td>IE</td>
											<td class="text-end">1689</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
					<div class="card flex-fill w-100">
						<div class="card-header">

							<h5 class="card-title mb-0">Real-Time</h5>
						</div>
						<div class="card-body px-4">
							<div id="world_map" style="height:350px;"></div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
					<div class="card flex-fill">
						<div class="card-header">

							<h5 class="card-title mb-0">Calendar</h5>
						</div>
						<div class="card-body d-flex">
							<div class="align-self-center w-100">
								<div class="chart">
									<div id="datetimepicker-dashboard"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

		<script>
			document.addEventListener("DOMContentLoaded", function() {
				var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
				var gradient = ctx.createLinearGradient(0, 0, 0, 225);
				gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
				gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
				// Line chart
				new Chart(document.getElementById("chartjs-dashboard-line"), {
					type: "line",
					data: {
						labels: <%- graphMonths %>,
						datasets: [{
							label: "Salarios (R$)",
							fill: true,
							backgroundColor: gradient,
							borderColor: window.theme.primary,
							data: [<%= graphValues %>]
						}]
					},
					options: {
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						tooltips: {
							intersect: false
						},
						hover: {
							intersect: true
						},
						plugins: {
							filler: {
								propagate: false
							}
						},
						scales: {
							xAxes: [{
								reverse: true,
								gridLines: {
									color: "rgba(0,0,0,0.0)"
								}
							}],
							yAxes: [{
								ticks: {
									stepSize: 1000
								},
								display: true,
								borderDash: [3, 3],
								gridLines: {
									color: "rgba(0,0,0,0.0)"
								}
							}]
						}
					}
				});
			});
		</script>